.hero{
    overflow: hidden;
    background-color: rgb(247, 182, 20);
    background: url('../img/hero_background.png');
    background-size: cover;
    width: 100vw;
    &__imageSection{
        position: relative;
        & img{
            width: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    &__image_and_price{
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__circle{
        transform-origin: center center;
        position: absolute;
        transform: scale(.3) translate(-50%);
        fill: red;

        &__font{
            fill: white;
            font-family: $mainFont;
            transform-origin: center center;
            transform: scale(2.5) translate(3%);
            &__cents{
                transform-origin: center center;
                transform: scale(.7);   
            }

            &__only{
                transform-origin: center center;
                transform: scale(.7);  
                letter-spacing: 3px;
            }
        }
    }

    /*-------------------------------------------------------------------*/

    &__title{
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;

       
            & p{
                align-self: start;
                font-family: $mainFont;
                font-size: 2vw;
                display: inline-block;

                @include tablet{
                    align-self: center;
                    font-size: 4vw;
                }
            }

            & h1{
                font-family: $heroFont;
                font-size: 8vw;
                color: $logoColor;
                @include tablet{
                    align-self: center;
                    font-size: 15vw;
                }
            }

            & h2{
                font-family: $heroFont;
                font-size: 8vw;
                color: $logoColor;
                @include tablet{
                    align-self: center;
                    font-size: 12vw;
                }
            }
        }
    }
}
